<?xml version="1.0" encoding="utf-8"?>
<configuration>

   <packageSources>
      <clear/>
      <add key="nuget.org"
           value="https://api.nuget.org/v3/index.json"/>
      <add key="be.stateless.preview"
           value="https://pkgs.dev.azure.com/icraftsoftware/be.stateless/_packaging/dotnet.factory.preview/nuget/v3/index.json"/>
      <add key="yuma.preview"
           value="https://pkgs.dev.azure.com/webuildyuma/_packaging/libraries/nuget/v3/index.json"/>
   </packageSources>

   <!-- https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping#enable-by-manually-editing-nugetconfig -->
   <packageSourceMapping>
      <packageSource key="nuget.org">
         <package pattern="*"/>
      </packageSource>
      <packageSource key="be.stateless.preview">
         <package pattern="Be.Stateless.*"/>
      </packageSource>
      <packageSource key="yuma.preview">
         <package pattern="Yuma.*"/>
      </packageSource>
   </packageSourceMapping>

</configuration>
